.duck__section {
    position: absolute;
    bottom: -10px;
    left: 100;
    right: 0;
}

.duck {
    position: absolute;
    animation: rubber-ducky 30s infinite ease-in-out;
    height: 58px;
    width: 58px;
    z-index: 900;
}

@keyframes rubber-ducky {
    0% {
        bottom: 0;
    }
    10% {
        bottom: -1rem;
        transform: translateX(10rem);
    }
    20% {
        transform: translateX(20rem) rotate(-20deg);
    }
    30% {
        bottom: 0;
    }
    40% {
        transform: translateX(40rem) rotate(5deg);
    }
    47% {
        transform: translateX(49rem) rotateY(0deg);
    }
    50% {
        bottom: -1rem;
        transform: translateX(48rem) rotateY(180deg);
    }
    60% {
        transform: translateX(40rem) rotateY(180deg) rotate(10deg);
    }
    70% {
        transform: translateX(30rem) rotateY(180deg) rotate(-20deg);
    }
    80% {
        bottom: 0;
        transform: translateX(20rem) rotateY(180deg) rotate(0deg);
    }
    90% {
        transform: translateX(10rem) rotateY(180deg) rotate(-10deg);
    }
    97% {
        transform: rotateY(180deg);
    }
    100% {
        transform: translateX(0) rotateY(0deg) rotate(0deg);
    }
}